<h1>This is the movies page</h1>
<ul>
    {{#each mymovie}}
    <div>
        <li>
        <p>{{this.title}}</p>
        <img src="{{this.image}}">
        <a href = "">see more</a>
    </li>
    </div>
    {{/each}}
</ul>