<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>

<ul>
    {{#each mymovie}}
    <div>
        <li>
        <p>{{this.title}}</p>
        <img src="{{this.image}}">
        <a href = "/movies/{{_id}}">see more</a>
    </li>
    </div>
    {{/each}}
</ul>