body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.home-page{
  margin:auto;
  background-image: url("../images/cinema.jpg");
  width: unset;
  height: 800px;
  position: 0, 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.home-page-title{
  margin: 20px;
  color: white;
}

.main-button{
  background-color:white;
  border-radius: 12px;
}